body {
    /* background-color: rgb(44, 44, 44); */
    background-image: url("../images/bg.jpg");
    background-attachment:fixed;
    background-size:cover;
    margin: 0 auto;
    height: auto;
}

.tslist {
    height: auto;
    width: 80%;
    margin: 80px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 7px black;
}

.h2s {
    color: black;
    margin-left: 4%;
    border-width: 0 0 3px 0;
    border-style: solid;
    border-color: black;
}

.h3s {
    margin: 5px auto;
}

.list {
    height: auto;
    margin: 5px auto 5px 5%;
}

.tsimg {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border-radius: 20px ;
}

a {
    color: dimgray;
}